.score{
    margin: 0px auto;
    width: 600px;
    text-align: center;
}
.glade {
    width: 600px;
    height: 600px;
    margin: 0px auto;
    border-radius: 50px;
    background: #EEBE76;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 50px;
}
.pile{
    width: 170px;
    height: 170px;
    overflow: hidden;
}
.mole{
    cursor: pointer;
    position: relative;
    left: 40px;
    bottom: 20px;
    width: 98px;
    height: 137px;
    background: url('./images/mole.png') no-repeat;
    background-position: right bottom;
    transform: translateY(0px);
    transition: 1s;
}
.hidden {
    transform: translateY(190px);
    transition: 1s;
}
.dirt{
    position: relative;
    top: 124px;
    left: 10px;
    z-index: 1;
    
}

.blink{
    animation-duration: 400ms;
    animation-name: blink;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


